* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --primary: #ddd;
    --blue: #0082e6;
    --light: #fff;
    --shadow: 1px 2px 8px rgba(104, 104, 104, 0.553),
        1px 2px 8px rgba(104, 104, 104, 0.553),
        1px 2px 8px rgba(104, 104, 104, 0.553),
        1px 2px 8px rgba(104, 104, 104, 0.553);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background: rgb(54, 139, 235);
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 7px 13px;
    font-size: 17px;
}

a.active,
a:hover {
    background-color: rgb(78, 159, 226);
    transition: .7s;
}

.checkbtn {
    color: #fff;
    position: absolute;
    right: 40px;
    font-size: 30px;
    margin-top: 25px;
    display: none;
    cursor: pointer;
}

#check {
    display: none;
}

/*==============================*/

.btn {
    background: var(--blue);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    border-radius: 20px;
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    gap: 20px;
}

/*top container*/

.top-container {
    margin-top: 80px;
    display: grid;
    grid-gap: 5px;
    grid-template-areas: 'showcase top-box-a'
        'showcase top-box-b';
    background: #afd2ee;
}

.showcase {
    grid-area: showcase;
    min-height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(../images/carolina-nichitin-UcSPxK85wWk-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    justify-content: center;
    box-shadow: 1px 3px 10px rgb(92, 73, 73);
    color: var(--light);
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.showcase:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(../images/venti-views-81gtVXu3w-0-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 2s;
}

.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);

}

.showcase p {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: normal;
    margin-top: 0;
    color: var(--light);
}

.top-box {
    background: var(--light);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.9rem;
    margin: 10px;
    border-radius: 15px;
}

.top-box-a {
    grid-area: top-box-a;
    background: var(--light);
    display: grid;
    align-items: center;
    box-shadow: var(--shadow);
    padding: 1.9rem;
    margin: 10px;
}

.top-box .student {
    font-size: 1.3rem;
}


.top-box-b {
    grid-area: top-box-b;
    background: var(--light);
    display: grid;
    align-items: center;
    box-shadow: var(--shadow);
    padding: 1.9rem;
    margin: 10px;
}


/*info*/

.info {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: 1fr 1fr;*/
    padding: 3rem;
}

.info_content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/*===services====*/

.services_main {
    background-color: var(--light);
    width: 100%;
    height: 100%;
    padding: 0 8%;
}

.services_main h2 {
    text-align: center;
    padding-top: 6%;
    margin-bottom: 60px;
    font-size: 1.8rem;
    font-weight: 600;
    position: relative;
}

.services_main h2::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translate(-50%);
    width: 130px;
    height: 6px;
    background-color: var(--blue);
    border-radius: 20px;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}

.row .service {
    padding: 25px 15px;
    background: transparent;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.row .service:hover {
    color: #fff;
    background-color: var(--blue);
    transform: scale(1.05);
}

.row .service i {
    color: var(--blue);
    margin-bottom: 20px;
    font-size: 60px;
    transition: 0.5s;
}

.row .service:hover i {
    color: #fff;
}

.row .service h2 {
    font-weight: 600;
    margin-bottom: 20px;
}


/*********MEDIAQUERY********************/


@media(max-width: 952px) {

    /*==========NAV FO TABLETTE======*/

    #check:checked~.checkbtn i:before {
        content: "\f00d";
    }

    #check:checked~ul {
        left: 0%;
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }

    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }

    .checkbtn {
        display: block;
    }

    /*========MAIN CONTAINT==============*/

    .showcase h1 {
        font-size: 2.5rem;
    }

    .top-container {
        grid-template-areas: 'showcase showcase' 'top-box-a top-box-b';
    }

}

/*services*/
@media(max-width: 858px) {

    nav ul {
        display: block;
    }

    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(66, 64, 64);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 100px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: rgb(46, 112, 211);
    }

    #check:checked~ul {
        left: 0;
    }

    .top-container {
        grid-template-areas: 'showcase'
            'top-box-a'
            'top-box-b';
    }

    /*======info======*/

    .info {
        grid-template-columns: repeat(1, 1fr);
    }

    .info .btn {
        display: block;
        text-align: center;
        margin: auto;
    }
}